*.py?
*~
/.coverage
/build
/deploy_rsa
/examples/*.txt
/examples/aiohttp
/examples/aiohttp.nix
/examples/aiohttp_override.nix
/examples/awscli_and_requests
/examples/awscli_and_requests.nix
/examples/empy
/examples/empy.nix
/examples/empy_override.nix
/examples/flake8
/examples/flake8-includes
/examples/flake8-includes.nix
/examples/flake8-includes_override.nix
/examples/flake8.nix
/examples/flake8_override.nix
/examples/ldap
/examples/ldap.nix
/examples/lektor
/examples/lektor
/examples/lektor.nix
/examples/lektor.nix
/examples/mercurial
/examples/mercurial.nix
/examples/mercurial_override.nix
/examples/pillow
/examples/pillow
/examples/pillow.nix
/examples/pillow.nix
/examples/pillow_override.nix
/examples/pillow_override.nix
/examples/pypi2nix
/examples/rss2email
/examples/rss2email.nix
/examples/rss2email_override.nix
/examples/scipy
/examples/scipy.nix
/examples/tornado
/examples/tornado.nix
/examples/tornado_override.nix
/out/
/result*
/src/pypi2nix.egg-info/
