!/examples/*_override.nix
*.py?
*~
/.coverage
/build
/deploy_rsa
/examples/*
/examples/aiohttp_override.nix
/examples/empy_override.nix
/examples/mercurial_override.nix
/examples/tornado_override.nix
/out/
/requirements_override.nix
/result*
/src/pypi2nix.egg-info/