*.pyc
*~
/.coverage
/build
/deploy_rsa
/out/
/result*
/src/pypi2nix.egg-info/
/integrationtests/*/requirements.nix
/integrationtests/*/constraints.txt
/integrationtests/*/requirements.txt
/integrationtests/*/requirements_frozen.txt
/integrationtests/*/result
/integrationtests/*/build
/integrationtests/pypi2nix
/integrationtests/*/src
[#]*[#]
.[#]*
/htmlcov
.pytest_cache
/dist/
*.egg-info
**/.eggs/**
.mypy_cache
