language: nix
sudo: required
os:
- linux
env:
  global:
    - NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-unstable.tar.gz
  matrix:
    - TEST_FILE=aiohttp
    - TEST_FILE=awscli_and_requests
    - TEST_FILE=connexion
    - TEST_FILE=empy
    - TEST_FILE=fava
    - TEST_FILE=flake8
    - TEST_FILE=flake8_mercurial
    - TEST_FILE=flit
    - TEST_FILE=ldap
    - TEST_FILE=lektor
    - TEST_FILE=local_path
    - TEST_FILE=pillow
    - TEST_FILE=pynacl
    - TEST_FILE=relative_paths
    - TEST_FILE=rss2email
    - TEST_FILE=scipy
    - TEST_FILE=serpy_0_1_1
    - TEST_FILE=setuptools
    - TEST_FILE=tornado
install:
- sudo mount -o remount,exec,size=4G,mode=755 /run/user || true
- nix-env -iA nixpkgs.nix-prefetch-git nixpkgs.nix-prefetch-hg
before_script:
- sudo mkdir -p /etc/nix && echo 'sandbox = true' | sudo tee /etc/nix/nix.conf
script:
- nix-shell --command 'run_integration_tests.py --file integrationtests/test_${TEST_FILE}.py'
stages:
- unittests
jobs:
  include:
  - stage: unittests
    name: nixos-19.09
    os: linux
    env:
      - NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-19.09.tar.gz
    before_script:
      - sudo mkdir -p /etc/nix && echo 'sandbox = true' | sudo tee /etc/nix/nix.conf
    script:
      - set -e
      - nix-build
      - result/bin/pypi2nix --version
      - nix-shell --command 'pytest unittests/'
  - name: nixos-unstable
    os: linux
    env:
      - NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-unstable.tar.gz
    before_script:
      - sudo mkdir -p /etc/nix && echo 'sandbox = true' | sudo tee /etc/nix/nix.conf
    script:
      - set -e
      - nix build
      - result/bin/pypi2nix --version
      - nix-shell --command 'pytest unittests/'
  - stage: package tests
    name: package installation
    os: linux
    env:
      - NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-unstable.tar.gz
    before_script:
      - sudo mkdir -p /etc/nix && echo 'sandbox = true' | sudo tee /etc/nix/nix.conf
    script:
      - nix-shell --command 'install_test.py'
