# linting
black
flake8
flake8-debugger
flake8-isort
flake8-quotes
flake8-unused-arguments
mypy

# testing
codecov
pytest
pytest-cov
attrs

# develop
pdbpp

# setup requires
pytest-runner
setuptools-scm
