[buildout]
extends = http://dist.plone.org/release/4.3rc1/versions.cfg
versions = versions
eggs-directory = eggs
download-cache = downloads
extends-cache = cfg
unzip = true
parts =
    instance

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
debug-mode = on
verbose-security = on
eggs =
    Pillow
    Plone

[versions]
zc.buildout = 1.7.0
distribute = 0.6.34
plone.recipe.zope2instance = 4.2.10
