    "{{ name }}" = python.mkDerivation {
      name = "{{ name }}-{{ version }}";
      src = {{ fetch_expression }};
      doCheck = commonDoCheck;
      checkInputs = commonBuildInputs ++ {{ buildInputs }};
      buildInputs = commonBuildInputs ++ {{ buildInputs }};
      nativeBuildInputs = commonBuildInputs ++ {{ buildInputs }};
      propagatedNativeBuildInputs = commonBuildInputs ++ {{ buildInputs }};
      propagatedBuildInputs = {{ propagatedBuildInputs }};
      meta = with pkgs.stdenv.lib; {
        homepage = "{{ homepage }}";
        license = {{ license }};
        description = "{{ description }}";
      };
    };
